    <script type="text/javascript" src="/assets/components/jquery/jquery.js"></script>
    <script type="text/javascript" src="/assets/components/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>